<h1 class="text-center fw-bold bg-dark text-white p-1 mb-0 sticky-top">
  RXJS Operators
</h1>
<div
  class="container-fluid border border-dark-subtle"
  *ngFor="let ope of Operators; let i = index"
>
  <h5 *ngIf="i < 9; else remin" class="mt-4 d-flex align-items-center">
    <span class="border rounded-circle p-1 border-dark bg-dark text-white me-1"
      >0{{ i + 1 }}</span
    >
    {{ ope.name }}
  </h5>
  <ng-template #remin>
    <h5 class="d-flex align-items-center mt-4">
      <span
        class="border rounded-circle p-1 border-dark me-1 bg-dark text-white"
      >
        {{ i + 1 }}
      </span>
      {{ ope.name }}
    </h5>
  </ng-template>
</div>
